<a href="https://colab.research.google.com/github/ajayks1974/learning/blob/master/fds/fds_wk5_assgn2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
lat_long_rec1 = {
    "name": "Delhi",
    "lat": 28.644800,
    "long": 77.216721
}

In [4]:
places_record = []

In [5]:
places_record.append(lat_long_rec1)

In [6]:
places_record[0]["name"]

'Delhi'

In [15]:
def get_places_record(record):
    flag_to_continue = True
    while flag_to_continue == True:
        place_rec = {}
        print("Please Enter place data to record--->")
        
        name = input("Enter Name of Location")
        try:
            lat = float(input("Enter Latitude of Location"))
        except ValueError:
            print("Invalid Value: Exiting..")
            return
        try:
            long = float(input("Enter Longitude of Location"))
        except ValueError:
            print("Invalid Value: Exiting..")
            return
        
        place_rec["name"]=name
        place_rec["long"]=long
        place_rec["lat"]=lat
        record.append(place_rec)
        print("Added Record for: ", name)

        confirm = input("Do you want to Continue (y/n):")
        print(confirm)
        if confirm[0] == "n":
           flag_to_continue = False

In [8]:
record = []

In [9]:
get_places_record(record)

Please Enter place data to record--->
Enter Name of LocationAgra
Enter Latitude of Location27.1767
Enter Longitude of Location78.0081
Added Record for:  Agra
Do you want to Continue (y/n):Y

In [19]:
get_places_record(record)

Please Enter place data to record--->
Enter Name of LocationCalcutta
Enter Latitude of Location22.5726
Enter Longitude of Location88.3639
Added Record for:  Calcutta
Do you want to Continue (y/n):y
y
Please Enter place data to record--->
Enter Name of LocationGuwahati
Enter Latitude of Location26.1445
Enter Longitude of Location91.7362
Added Record for:  Guwahati
Do you want to Continue (y/n):n
n

In [20]:
record

[{'lat': 27.1767, 'long': 78.0081, 'name': 'Agra'},
 {'lat': 13.0827, 'long': 80.2707, 'name': 'Chennai'},
 {'lat': 19.076, 'long': 72.8777, 'name': 'Mumbai'},
 {'lat': 12.9716, 'long': 77.5946, 'name': 'Banglore'},
 {'lat': 22.5726, 'long': 88.3639, 'name': 'Calcutta'},
 {'lat': 26.1445, 'long': 91.7362, 'name': 'Guwahati'}]

In [21]:
record_pre_created = [{'lat': 27.1767, 'long': 78.0081, 'name': 'Agra'},
 {'lat': 13.0827, 'long': 80.2707, 'name': 'Chennai'},
 {'lat': 19.076, 'long': 72.8777, 'name': 'Mumbai'},
 {'lat': 12.9716, 'long': 77.5946, 'name': 'Banglore'},
 {'lat': 22.5726, 'long': 88.3639, 'name': 'Calcutta'},
 {'lat': 26.1445, 'long': 91.7362, 'name': 'Guwahati'}]

In [ ]:
def build_places_latlong_map(place)