<a href="https://colab.research.google.com/github/ajayks1974/learning/blob/master/fds/fds_wk5_assgn2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
lat_long_rec1 = {
    "name": "Delhi",
    "lat": 28.644800,
    "long": 77.216721
}

In [ ]:
places_record = []

In [ ]:
places_record.append(lat_long_rec1)

In [ ]:
places_record[0]["name"]

'Delhi'

In [ ]:
def get_places_record(record):
    flag_to_continue = True
    while flag_to_continue == True:
        place_rec = {}
        print("Please Enter place data to record--->")
        
        name = input("Enter Name of Location")
        try:
            lat = float(input("Enter Latitude of Location"))
        except ValueError:
            print("Invalid Value: Exiting..")
            return
        try:
            long = float(input("Enter Longitude of Location"))
        except ValueError:
            print("Invalid Value: Exiting..")
            return
        
        place_rec["name"]=name
        place_rec["long"]=long
        place_rec["lat"]=lat
        record.append(place_rec)
        print("Added Record for: ", name)

        confirm = input("Do you want to Continue (y/n):")
        print(confirm)
        if confirm[0] == "n":
           flag_to_continue = False

In [ ]:
record = []

In [ ]:
get_places_record(record)

Please Enter place data to record--->
Enter Name of LocationAgra
Enter Latitude of Location27.1767
Enter Longitude of Location78.0081
Added Record for:  Agra
Do you want to Continue (y/n):Y

In [ ]:
get_places_record(record)

Please Enter place data to record--->
Enter Name of LocationCalcutta
Enter Latitude of Location22.5726
Enter Longitude of Location88.3639
Added Record for:  Calcutta
Do you want to Continue (y/n):y
y
Please Enter place data to record--->
Enter Name of LocationGuwahati
Enter Latitude of Location26.1445
Enter Longitude of Location91.7362
Added Record for:  Guwahati
Do you want to Continue (y/n):n
n

In [ ]:
record

[{'lat': 27.1767, 'long': 78.0081, 'name': 'Agra'},
 {'lat': 13.0827, 'long': 80.2707, 'name': 'Chennai'},
 {'lat': 19.076, 'long': 72.8777, 'name': 'Mumbai'},
 {'lat': 12.9716, 'long': 77.5946, 'name': 'Banglore'},
 {'lat': 22.5726, 'long': 88.3639, 'name': 'Calcutta'},
 {'lat': 26.1445, 'long': 91.7362, 'name': 'Guwahati'}]

In [ ]:
record_pre_created = [{'lat': 27.1767, 'long': 78.0081, 'name': 'Agra'},
 {'lat': 13.0827, 'long': 80.2707, 'name': 'Chennai'},
 {'lat': 19.076, 'long': 72.8777, 'name': 'Mumbai'},
 {'lat': 12.9716, 'long': 77.5946, 'name': 'Banglore'},
 {'lat': 22.5726, 'long': 88.3639, 'name': 'Calcutta'},
 {'lat': 26.1445, 'long': 91.7362, 'name': 'Guwahati'}]

In [ ]:
def build_places_latlong_map(places):
    flag_to_continue = True
    while flag_to_continue == True:
        print("Please Enter place data to record--->")
        
        name = input("Enter Name of Location")
        lat = input("Enter Latitude of Location")
        long = input("Enter Longitude of Location")
        places[name]=lat+long
        print("Added Record for: ", name)
        confirm = input("Do you want to Continue (y/n):")
        if confirm[0] == "n":
           flag_to_continue = False

In [ ]:
places_latlong_map = {}
build_places_latlong_map(places_latlong_map)

Please Enter place data to record--->
Enter Name of LocationAgra
Enter Latitude of Location27.1767
Enter Longitude of Location78.0081
Added Record for:  Agra
Do you want to Continue (y/n):y
y
Please Enter place data to record--->
Enter Name of LocationChennai
Enter Latitude of Location13.0827
Enter Longitude of Location80.2707
Added Record for:  Chennai
Do you want to Continue (y/n):t
t
Please Enter place data to record--->
Enter Name of LocationMumbai
Enter Latitude of Location19.076
Enter Longitude of Location80.2707
Added Record for:  Mumbai
Do you want to Continue (y/n):n
n

In [ ]:
places_latlong_map

{'Agra': '27.176778.0081',
 'Chennai': '13.082780.2707',
 'Mumbai': '19.07680.2707'}

In [1]:
places_latlong_map1 = {'Agra': '27.176778.0081',
 'Chennai': '13.082780.2707',
 'Mumbai': '19.07680.2707'}

In [2]:
def replace_poi_with_latlongs(phrase):
    poi = 0
    phrase_word_list = phrase.split()
    out_phrase = ""
    for item in phrase_word_list:
        print(item)
        try:
            lat_long = places_latlong_map1[item]
        except KeyError:
            out_phrase +=item
            out_phrase +=" "
            continue
        out_phrase+=item
        out_phrase+="("
        out_phrase+=lat_long
        out_phrase+=")"
        out_phrase +=" "
        poi +=1
    print("Total POIs found:", poi)
    print("Updated String:", out_phrase)
    return out_phrase

In [5]:
def replace_poi_with_latlong1(phrase):
    poi = 0
    phrase_word_list = phrase.split()
    out_phrase = ""
    for item in phrase_word_list:
        if item in places_latlong_map1:
            out_phrase += places_latlong_map1[item]
        else:
            out_phrase += item
        out_phrase +=" "
        poi +=1
    print("Total POIs found:", poi)
    print("Updated String:", out_phrase)
    return out_phrase

In [7]:
def replace_poi_with_latlong2(phrase):
    poi = 0
    phrase_word_list = phrase.split()
    out_phrase = ""
    for item in phrase_word_list:
        out_phrase += (places_latlong_map1.get(item,item) + " ")
        poi +=1
    print("Total POIs found:", poi)
    print("Updated String:", out_phrase)
    return out_phrase

In [8]:
phrase = input("Enter a phrase: ")
updated_phrase = replace_poi_with_latlong2(phrase)
print(updated_phrase)

Enter a phrase: Mumbai is the financial Capital of India
Total POIs found: 7
Updated String: 19.07680.2707 is the financial Capital of India
19.07680.2707 is the financial Capital of India

In [ ]:
phrase = "Mumbai is the financial Capital of India"

In [ ]:
print(len(phrase))

40

In [ ]:
type(places_latlong_map)

dict