<a href="https://colab.research.google.com/github/ajayks1974/learning/blob/master/fds/wk10_pandas_nifty_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [3]:
nifty50_2019 = pd.read_csv('NIFTY50_Data_2019.csv')

In [5]:
nifty50_2019 = pd.read_csv('NIFTY50_Data_2019.csv', index_col = 0)

In [6]:
nifty50_2019.head()

                 Open      High       Low     Close
Date
31 Dec 2019  12247.10  12247.10  12151.80  12168.45
30 Dec 2019  12274.90  12286.45  12213.80  12255.85
27 Dec 2019  12172.90  12258.45  12157.90  12245.80
26 Dec 2019  12211.85  12221.55  12118.85  12126.55
24 Dec 2019  12269.25  12283.70  12202.10  12214.55

In [10]:
nifty50_2019.High['31 Dec 2019']

12247.1

In [11]:
nifty50_2018 = pd.read_csv('NIFTY50_Data_2018.csv', index_col = 0)

In [15]:
nifty50_2019.shape

(245, 4)

In [17]:
nifty_50_18_19 = pd.concat([nifty50_2018 , nifty50_2019])

In [19]:
nifty_50_18_19.shape

(491, 4)

In [21]:
nifty_next_50_19 = pd.read_csv('NIFTYNext 50 _Data_2019.csv', index_col = 0)

In [22]:
nifty_50_next_50_19 = pd.concat([nifty50_2019 , nifty_next_50_19], axis = 1)

In [23]:
nifty_50_next_50_19.shape

(245, 8)

In [24]:
nifty_50_next_50_19.head()

                 Open      High       Low  ...      High       Low     Close
Date                                       ...
31 Dec 2019  12247.10  12247.10  12151.80  ...  28549.50  28270.25  28307.55
30 Dec 2019  12274.90  12286.45  12213.80  ...  28612.95  28406.70  28484.85
27 Dec 2019  12172.90  12258.45  12157.90  ...  28500.25  28319.90  28476.80
26 Dec 2019  12211.85  12221.55  12118.85  ...  28435.25  28259.75  28280.25
24 Dec 2019  12269.25  12283.70  12202.10  ...  28430.40  28318.75  28382.85

[5 rows x 8 columns]

In [27]:
nifty_50_next_50_19 = pd.concat([nifty50_2019 , nifty_next_50_19], axis = 1,
                                keys=['nifty50', 'nifty_next_50'])

In [29]:
nifty_50_next_50_19.shape

(245, 8)

In [30]:
nifty_50_next_50_19.head()

              nifty50                      ... nifty_next_50
                 Open      High       Low  ...          High       Low     Close
Date                                       ...
31 Dec 2019  12247.10  12247.10  12151.80  ...      28549.50  28270.25  28307.55
30 Dec 2019  12274.90  12286.45  12213.80  ...      28612.95  28406.70  28484.85
27 Dec 2019  12172.90  12258.45  12157.90  ...      28500.25  28319.90  28476.80
26 Dec 2019  12211.85  12221.55  12118.85  ...      28435.25  28259.75  28280.25
24 Dec 2019  12269.25  12283.70  12202.10  ...      28430.40  28318.75  28382.85

[5 rows x 8 columns]

In [44]:
nifty_50_next_50_19.nifty50.Open

Date
31 Dec 2019    12247.10
30 Dec 2019    12274.90
27 Dec 2019    12172.90
26 Dec 2019    12211.85
24 Dec 2019    12269.25
                 ...
07 Jan 2019    10804.85
04 Jan 2019    10699.70
03 Jan 2019    10796.80
02 Jan 2019    10868.85
01 Jan 2019    10881.70
Name: Open, Length: 245, dtype: float64

In [43]:
nifty_50_next_50_19.nifty50.Open['31 Dec 2019']

12247.1

In [45]:
nifty_50_next_50_19.nifty50.loc['31 Dec 2019']

Open     12247.10
High     12247.10
Low      12151.80
Close    12168.45
Name: 31 Dec 2019, dtype: float64

In [42]:
nifty_50_next_50_19.loc['31 Dec 2019']

nifty50        Open     12247.10
               High     12247.10
               Low      12151.80
               Close    12168.45
nifty_next_50  Open     28495.00
               High     28549.50
               Low      28270.25
               Close    28307.55
Name: 31 Dec 2019, dtype: float64